<div class="main-navigation">
    <a href="/">Court Finder</a>
    <div class="event-buttons">
        <form action="/event/create" method="GET"><button type="submit">Create Your Event</button></form>
        <form action="/event/all" method="GET"><button type="submit">Find A Game</button></form>
        <form action="/logout" method="GET"><button type="submit">Logout</button></form>
    </div>
</div>

<div class="events-container">

    {{#if organizedEvents}}
    <div class="events-cluster">
        <h2>I'm organizing!</h2>
            {{#each organizedEvents}}
            <div class="one-event">
                <h3>{{name}}</h3>
                </article>
                <p>{{description}}</p>
                <p>Court : {{court.name}}</p>
                <p>Organizer: {{organizer.username}}</p>
                <div>
                    <h4>players</h4>
                        {{#each players}}
                            <p>{{username}}</p>
                        {{/each}}
                </div>
            </div>
            {{/each}}
    </div>
    {{/if}}

    {{#if playedEvents}}
    <div class="events-cluster">
        <h2>I'm attending.</h2>
        {{#each playedEvents}}
        <div class="one-event">
            <h3>{{name}}</h3>
            </article>
            <p>{{description}}</p>
            <p>Court : {{court.name}}</p>
            <p>Organizer: {{organizer.username}}</p>
            <div>
                <h4>players</h4>
                    {{#each players}}
                        <p>{{username}}</p>
                    {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if invitations}}
    <div class="events-cluster">
        <h2>Someone is waiting for me to accept the invite...</h2>
        {{#each invitations}}
        <div class="one-event">
            <h3>{{name}}</h3>
            </article>
            <p>{{description}}</p>
            <p>Court : {{court.name}}</p>
            <p>Organizer: {{organizer.username}}</p>
            <div>
                <h4>players</h4>
                    {{#each players}}
                        <p>{{username}}</p>
                    {{/each}}
            </div>

            <form action="/accept-invte" method="POST">
                <input type="hidden" value="{{_id}}" name="eventId">
                <button type="submit">ACCEPT INVITE</button>
            </form>
            <form action="/reject-invte" method="POST">
                <input type="hidden" value="{{_id}}" name="eventId">
                <button type="submit">REJECT INVITE</button>
            </form>

        </div>
        {{/each}}
    </div>
    {{/if}}

</div>




    {{!-- <div class="main-container-row-1">
        <h1>Find a court and start your game!</h1>
    </div>

    <div class="main-container-row-2">
        <div class="index-container-buttons">
            <a class="index-signup-button" href="/signup">Sign Up</a>
            <a class="index-login-button" href="/login">Log In</a>
        </div>
    </div>

    <div class="main-container-row-3">
    </div> --}}



