<h1>My Events</h1>

{{#if organizedEvents}}
    <h2>Organized Events</h2>
    {{#each organizedEvents}}
        <h3>{{name}}</h3>
        </article>
        <p>{{description}}</p>
        <p>Court : {{court.name}}</p>
        <p>Organizer: {{organizer.username}}</p>
        <div>
            <h4>players</h4>
                {{#each players}}
                    <p>{{username}}</p>
                {{/each}}
        </div>
    {{/each}}
{{/if}}

{{#if playedEvents}}
    <h2>Attending Events</h2>
    {{#each playedEvents}}
        <h3>{{name}}</h3>
        </article>
        <p>{{description}}</p>
        <p>Court : {{court.name}}</p>
        <p>Organizer: {{organizer.username}}</p>
        <div>
            <h4>players</h4>
                {{#each players}}
                    <p>{{username}}</p>
                {{/each}}
        </div>
    {{/each}}
{{/if}}

{{#if invitations}}
    <h2>Open Invites</h2>
    {{#each invitations}}
        <h3>{{name}}</h3>
        </article>
        <p>{{description}}</p>
        <p>Court : {{court.name}}</p>
        <p>Organizer: {{organizer.username}}</p>
        <div>
            <h4>players</h4>
                {{#each players}}
                    <p>{{username}}</p>
                {{/each}}
        </div>

        <form action="/accept-invte" method="POST">
            <input type="hidden" value="{{_id}}" name="eventId">
            <button type="submit">ACCEPT INVITE</button>
        </form>
        <form action="/reject-invte" method="POST">
            <input type="hidden" value="{{_id}}" name="eventId">
            <button type="submit">REJECT INVITE</button>
        </form>

    {{/each}}
{{/if}}