<div class="main-navigation">
    <a href="/">Court Finder</a>
    <div class="event-buttons">
        <form action="/event/create" method="GET"><button type="submit">Create Your Event</button></form>
        <form action="/event/all" method="GET"><button type="submit">Find A Game</button></form>
        <form action="/logout" method="GET"><button type="submit">Logout</button></form>
    </div>
</div>

<div class="distance-block"></div>

<div class="events-container">
<div class="events-cluster">

    {{#if organizedEvents}}
    <div class="events-cluster">
        <h2>I'm organizing!</h2>
            {{#each organizedEvents}}
            <div class="one-event">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <div class="court-oranizer">
                    <p><strong>Court:</strong><br>{{court.name}}</p>
                    <p><strong>Organizer:</strong><br>{{organizer.username}}</p>
                </div>
                <div class="court-oranizer">
                    {{!-- <p><strong>Time:</strong><br>{{date}}</p> --}}
                    <div>
                    <p><strong>Players</strong></p>
                    <ul>
                        {{#each players}}
                            <li>{{username}}</li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
    {{/if}}

    {{#if playedEvents}}
    <div class="events-cluster">
        <h2>I will join 🏀</h2>
            {{#each playedEvents}}
            <div class="one-event">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <div class="court-oranizer">
                    <p><strong>Court:</strong><br>{{court.name}}</p>
                    <p><strong>Organizer:</strong><br>{{organizer.username}}</p>
                </div>
                <div class="court-oranizer">
                    {{!-- <p><strong>Time:</strong><br>{{date}}</p> --}}
                    <div>
                    <p><strong>Players</strong></p>
                    <ul>
                        {{#each players}}
                            <li>{{username}}</li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
    {{/if}}

    {{#if invitations}}
    <div class="events-cluster">
        <h2>Someone is waiting for my answer 😚</h2>
            {{#each invitations}}
            <div class="one-event">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <div class="court-oranizer">
                    <p><strong>Court:</strong><br>{{court.name}}</p>
                    <p><strong>Organizer:</strong><br>{{organizer.username}}</p>
                </div>
                <div class="court-oranizer">
                    {{!-- <p><strong>Time:</strong><br>{{date}}</p> --}}
                    <div>
                    <p><strong>Players</strong></p>
                    <ul>
                        {{#each players}}
                            <li>{{username}}</li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
    {{/if}}

</div>
</div>



